@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.content {
  max-width: 1400px;
  margin: 40px auto;
  padding: 20px;
}

.container {
  display: flex;
}

/* Content in the left div */
.leftContent {
  min-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Table CSS */
table {
  margin-top: 30px;
}

td, th {
  padding: 6px;
}

th {
  font-size: 18px;
  padding: 25px;
}

input, .btn {
  margin-right: 15px;
  margin-top: 0px;
}

input {
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 17px;
}

.btn-box {
  display: flex;
}

.btn {
  border: 2px grey solid;
  padding: 3px 10px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.submit-box {
  text-align: center;
}

.submit {
  border: 2px black solid;
  margin:20px 0px;
  padding: 10px;
}

.collectionInput {
  text-align: center
}

/* Input Test verification */
.correct {
  background-color: rgb(167, 231, 167);
}

.false {
  background-color: rgb(255, 207, 74);
}

/* Collection list */
.aside-nav {
  margin-left: auto;
  padding: 15px;
}

ul {
  list-style-type: square;
  color: grey;
}

.aside-nav a {
  margin: 0px;
}

li {
  padding: 4px 0px;
}

/* Create button */
.create {
  font-size: 20px;
  padding: 10px 15px;
}

/* Collection buttons */
.btn-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.btn-container button {
  padding: 10px 15px;
}

.btn-container a {
  margin: 0px;
  padding: 0px;
}

/* Messages */
.msg {
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
}

.error {
  background-color: orange;
}