@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.content {
  max-width: 1400px;
  min-height: 60vh;
  margin: 40px auto;
  padding: 20px;
}

.container {
  display: flex;
}

/* Content in the left div */
.leftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}

/* Collection list */
.aside-nav {
  padding: 15px; 
}

.aside-nav a {
  margin: 0px;
}

li {
  padding: 4px 0px;
}

/* Create button */
.create-btn {
  font-size: 20px;
  padding: 2px 0px;
  text-align: center;
}

/* Collection buttons */
.btn-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.btn-container button {
  padding: 10px 15px;
}

.btn-container a {
  margin: 0px;
  padding: 0px;
}

#see-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#edit-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Messages */
.msg {
  border-radius: 3px;
  padding: 12px 15px;
  margin-bottom: 5px;
}

/* Titles */
.title {
  margin-bottom: 30px;
  display: inline-block;
}


/* Home, login and register */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth {
  text-align: center;
}

.auth-input {
  outline: none;
  padding: 7px;
  font-size: 14px;
  margin: 3px 0px;
  border-style: none;
  width: 200px;
}

.auth-btn {
  width: 100px;
  padding: 5px 10px;
  font-size: 16px;
  margin: 15px 0px;
  border-radius: 3px;
}

.auth h2 {
  margin: 15px 0px;
}

.auth p {
  margin: 10px 0px;
}

.tips {
  max-width: 600px;
}

.stats {
  padding: 10px 15px;
}

.auth-btn:active, 
.btn:active,
.submit:active,
.create-btn:active,
#login:active {
  transform: scale(0.98);
}