:root {
  --back: rgb(18, 18, 20);
  --font: rgb(55, 212, 134);
  --font-2: #31b3ff;
  --deco: rgb(55, 55, 172);
  --violet: rgb(129, 15, 114);
  --imp: rgb(206, 0, 86);
}

body {
  background-color: var(--back);
  color: var(--font);
}

.mark, footer, #email {
  color: var(--imp);
}

#email:hover {
  color: violet;
}

input {
  background-color: var(--back);
  color: var(--font);
}

a {
  color: var(--font)
}

a:hover, 
.btn:hover, 
button:hover, 
.submit:hover,
.auth-btn:hover {
  color: white;
}

.auth-btn:hover {
  cursor: pointer;
}

button {
  background-color: var(--back);
  color: var(--font);
  border: 1px solid var(--font)
}

.btn:hover, .auth-btn:hover {
  background-color: var(--font-2);
}

th p, 
.title, 
.leftContent h2,
.aside-nav h2 {
  color: var(--font-2);
  border-bottom: 2px solid var(--deco);
  padding: 10px 5px;
}

.btn, .submit, .auth-btn {
  color: var(--font-2);
  border: 2px var(--font-2) solid;
}

.create-btn {
  border: 2px solid var(--font-2);
  border-radius: 3px;
}

.auth h2, .create-btn {
  color: var(--font-2);
}

.submit:hover {
  color:violet;
}
.create-btn:hover, .submit:hover {
  border-color: violet;
  color: violet;
}

/* Input test verification */
.correct {
  color: rgb(18, 201, 247);
}

.false {
  color: rgb(255, 62, 62);
}

/* Nav and footer border */
.navbar {
  border-bottom: 2px solid var(--deco);
}
footer {
  border-top: 2px solid var(--deco);
}

.mark:hover {
  border: 2px solid var(--violet);
  padding: 8px 13px;
  border-radius: 3px;
}

/* bullets collection list */
ul {
  list-style-type: square;
  color: var(--deco);
}

/* Error message style */
.error {
  background-color: var(--violet);
}

.success {
  background-color: rgb(0, 117, 29);
}

.error, .success {
  color: white
}

/* Authentication styling */
.auth-input {
  border-bottom: 2px solid grey;
  color: var(--font-2);
}

.auth-input::placeholder {
  color: grey;
}

.auth p, .auth-btn, .auth a {
  color: var(--font-2);
}

.auth a:hover {
  color: white;
}

/* login button */
#login, #logout {
  background-color: var(--violet);
  border-radius: 3px;
  border-style: none;
  color: white;
}
#login:hover {
  background-color: var(--imp);
}

#logout:after {
	content: '';
	position: absolute;
	top: 0;
	left: 90%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: var(--violet);
	border-top: 0;
	border-right: 0;
	margin-left: -20.5px;
	margin-top: -10px;
}

.stats {
  color: var(--font-2);
}

#user {
  color: var(--imp);
}

/* Autofill of form input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px var(--back) inset !important;
}

input:-webkit-autofill
{
 -webkit-text-fill-color: var(--font) !important;
}