.indikativ, .tense-box {
  display: flex;
}

.tense-box {
  margin: 15px;
  justify-content: center;
}

.verb h3 {
  text-align: center;
  margin: 15px 0px 8px 0px;
}

.tense-box table {
  margin-top: 0px;
}

.see table {
  margin: 20px;
}