.indikativ, .tense-box, .verbDisplay {
  display: flex;
}

.tense-box {
  margin: 15px;
  justify-content: center;
}

.verb h3 {
  text-align: center;
  margin: 10px 0px;
}

.tense-box table {
  margin-top: 0px;
}

.see table {
  margin: 20px;
}

.letter {
  padding: 25px;
}

.verbDisplay {
  max-width: 700px;
  flex-wrap: wrap;
}

.verbDisplay ul {
  padding: 0px;
}

.letter h3 {
  text-align: center;
}