input, .btn, th {
  padding: 4px;
  margin-right: 15px;
  margin-top: 0px;
}

input {
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

.btn-box {
  display: flex;
}

.btn {
  border: 2px grey solid;
  padding: 3px 10px;
}